<mat-toolbar class=" navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">iEveEra Int.Ltd..</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span mat-icon-button class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <span class="example-spacer"></span>
      <button mat-button> <span>01.</span> <a href="#about" style="color: whitesmoke;">Home</a></button>
      <button mat-button> <span>02.</span> <a href="#about" style="color: whitesmoke;">About</a></button>
      <button mat-button><span>03.</span><a href="#work" style="color: whitesmoke;">Expercience</a></button>
      <button mat-button><span>04.</span><a href="#contact" style="color: whitesmoke;">Contact</a></button>
      <a href="\assets\sample.pdf" download>   <button mat-stroked-button style=" border-color: #4a8fc4;
        color: #4a8fc4;">Resume</button></a>
    
    </div>
  </div>
</mat-toolbar>

<!-- <section><mat-toolbar class="navbar fixed-top navbar-expand-lg text-light bg-body-tertiary">
  <a class="navbar-brand"><img src="" alt="" srcset=""></a>
  <button mat-button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <span class="example-spacer"></span>
      <button mat-button> <span>01.</span> <a href="#about" style="color: whitesmoke;">Home</a></button>
      <button mat-button> <span>02.</span> <a href="#about" style="color: whitesmoke;">About</a></button>
      <button mat-button><span>03.</span><a href="#work" style="color: whitesmoke;">Expercience</a></button>
      <button mat-button><span>04.</span><a href="#contact" style="color: whitesmoke;">Contact</a></button>
      
      <a href="\assets\sample.pdf" download>   <button mat-stroked-button style=" border-color: #4a8fc4;
          color: #4a8fc4;">Resume</button></a>
      
   
  </div>
</mat-toolbar>
<span><br><br><br><br></span></section>
 -->

<!-- <div class="link">
  <a  href="https://www.linkedin.com/"><i class="fab fa-linkedin me-5"></i></a><a href="https://www.youtube.com/@Susheel_Gupta"><i class="fab fa-youtube me-5"></i></a><a href="https://www.instagram.com/"><i class="fab fa-instagram me-5"></i></a><a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter me-5"></i></a><a href="https://github.com/"><i class="fab fa-github me-5"></i></a>
</div> -->