<mat-toolbar class=" navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid ">
    <a class="navbar-brand" href="#">iEveEra Int.Ltd..</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span mat-icon-button class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <span class="example-spacer"></span>
      <ul class="navbar-nav navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Expercience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Contact</a>
        </li>
      </ul>

    </div>
  </div>
</mat-toolbar>


<!-- <div class="link">
  <a  href="https://www.linkedin.com/"><i class="fab fa-linkedin me-5"></i></a><a href="https://www.youtube.com/@Susheel_Gupta"><i class="fab fa-youtube me-5"></i></a><a href="https://www.instagram.com/"><i class="fab fa-instagram me-5"></i></a><a href="https://twitter.com/i/flow/login"><i class="fab fa-twitter me-5"></i></a><a href="https://github.com/"><i class="fab fa-github me-5"></i></a>
</div> -->