


.example-spacer {
    flex: 1 1 auto;
  }
  

// .logo {
//     color: #FFF;
//     font-size: 22px;
// }




// #checkbox,
// #icon {
//     display: none;
// }
// /* Youtube link */
// .link {
//     position: fixed;
    
//     padding: 23px 40px;
//     right: -150px;
//     border-radius: 5px;
//     top: 50%;
//     transform: translateY(-50%);
//     transform: rotate(-90deg);
//     font-size: 18px;
//     font-weight: 500;
 
//     text-decoration: none;
//     text-transform: capitalize;
//     transition: all .1s ease-in-out;
// }
// .link a{
//     color: whitesmoke;
// }
// .link a:hover{

//     color:blueviolet;
// }



// .link i {
//     padding-left: 7px;
// }

.navbar{
    background-color:#183557 ;
    
}



//     #icon {
//         display: block;
//     }

//     #checkbox:checked~ul {
//         display: block;
//     }
// }


.example-spacer {
    flex: 1 1 auto;
  }
  
  span {
    color: #25d7d4;
  }
  
  mat-toolbar {
    background-image: linear-gradient(#0a192f, #112240);
  }
  a{
    text-decoration: none;
  }
  
  
  .pad {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  
  h2 {
  
    margin-top: 5px;
    color: #8892b0;
    line-height: 0.9;
    font-size: xxx-large;
  
  }
  
  h1 {
    font-size: 450%;
  
    color: azure;
  }
  
  h3 {
    font-size: x-large;
    color: #4a8fc4;
  }
  
  span {
    color: #4a8fc4;
  }
  
  .img1 img {
  
    width: 100%;
    background-size: cover;
  }
  
  p {
    line-height: 200%;
    font-size: large;
  }
  
  
  


  









  